<div class="container">
 
  <div class="apresentation">
    <img src="assets/foto.png" alt="Foto" class="foto">
    <div class="informations">
      <h3 class="name">Rodrigo Kakiuchi De Souza</h3>
      <p>Brasileiro, solteiro, 23 anos<br>
        Endereço - Rua diferenciada, 999<br>
        Bairro centro - Itu - São Paulo<br>
        Telefone: (11) 11111-1111 / E-mail: teste&#64;teste.com</p>
    </div>
  </div>
 
  <section>
    <h4>01 - OBJETIVO</h4>
    <hr class="line">
    <p>Desejo fazer parte da equipe e atuar na área de informática. Acredito que poderei executar
      meus conhecimentos teóricos e práticos e ajudar no crescimento da empresa e do grupo
      de trabalho.
    </p>
  </section>
 
  <section>
    <h4>02 - FORMAÇÃO</h4>
    <hr class="line">
    <li>Análise e desenvolvimento de sistemas - FATEC - 2023 a 2026</li>
    <li>Ensino médio - OBJETIVO - 2016 - 2018</li>
  </section>
 
  <section>
    <h4>03 - EXPERIÊNCIAS PROFISSIONAIS</h4>
    <hr class="line">
    <li><b>Riachuelo - (2018-2020)</b><br>
    Cargo: Técnico em Informática<br>
    Principais atribuições: manutenção dos computadores da loja</li>
    <li><b>Supermercado alvorada - (2020-2022)</b><br>
      Cargo: Gerente de Informática<br>
      Principais atribuições: Gestão de rede de computadores e sistemas</li>
  </section>
 
  <section>
    <h4>04 - APERFEIÇOAMENTO E ATIVIDADES COMPLEMENTARES</h4>
    <hr class="line">
    <li>Curso de Redes linux - Faculdade SENAC (2018 a 2020)</li>
    <li>Atendimento ao Cliente - Treinamentos Alfa (2020 a 2022)</li>
  </section>
 
  <section>
    <h4>05 - IDIOMAS</h4>
    <hr class="line">
    <li>
      Inglês avançado - C1 (certificado TOEIC)
    </li>
  </section>
 
  <section>
    <h4>06 - REFERÊNCIAS PESSOAIS</h4>
    <hr class="line">
    <li>Leonardo Gomes - Ex-chefe - (11) 11111-1111</li>
    <li>Gabriel Lopez - Fachineiro parceiro - (22) 22222-2222</li>
  </section>
 
</div>